<style>
  .phb#p1{ text-align:center; }
  .phb#p1:after{ display:none; }
  .phb:after {
    content: "Haosmund is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. ©Wizards of the Coast LLC";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background-size: cover;
    padding-top: 28px;
    text-align: center;
    font-size: 11px;
    padding-left: 65px;
    padding-right: 85px;
    line-height: 1.1;
    }
</style>

<img src='https://www.gmbinder.com/images/bsbclkD.png' style='position:absolute; top:0px; left:0px; width:100%'  />

<div class='cover-diamond'></div> 

<div class='cover-header'>Haosmund</div> 

<img src='https://www.gmbinder.com/assets/img/UNR8ilF.png' style="background-size:345px; height:56px; width:345px; position:absolute; left:0px; bottom:180px;"/>

\pagebreak

<div style='margin-top:450px;'></div>

# The Realm of Haosmond

<div style='margin-top:25px'></div>
<div class='wide'>

##### A guide for your journey

</div>

<img src='https://www.gmbinder.com/images/sWY7cbh.png' style='position:absolute; top:0px; left:0px; width:100%' />

\pagebreak

<style>/*ToC Styling*/

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* Main Background */
  .phb { background-image: url("https://www.gmbinder.com/images/TqYKFv2.jpg"); text-align:justify; text-indent:0px;}
  .phb::after {background-image:none;}
  
 .phb h1 { 
    font-size:30pt;
    border:none;
    font-family: 'MrJeeves';
    text-transform: uppercase;
    margin-bottom:45px;
    text-align: center;
    font-weight: bolder;
}

 .phb h2 { 
    text-transform: none;
    font-size:16pt;
    border-bottom: 2px solid #c9ad6a;
    font-weight: lighter
}

 .phb h3 { 
    font-size:11pt;
    border:none;
    font-family: 'Bolton';
    text-transform: capitalize;
    color: #000000;
}

.phb h4, .phb h5, .phb h6 { 
    font-size:8pt;
    border:none;
    font-family: 'Bolton';
    text-transform: uppercase;
}

  .toc a {color: inherit !important;}
  .toc li span:nth-child(2){width: auto;overflow: hidden;white-space: nowrap;display: block;}
  .toc li span:nth-child(2):after{font-family:BookSanity;font-size:0.317cm;font-weight:normal;color:black;content:" ........................................""........................................."".........................................";}
  .toc li span:first-child{float:right;font-family:BookSanity;font-size:0.317cm;font-weight:normal;color:black;margin-left:1px;}
  .toc li h3 span:nth-child(2):after{content: " ";}
  .toc li h3 {margin-bottom: 4px !important;margin-top: 10px !important;line-height: initial !important;}
  .toc li h5 {margin-bottom: 0.5px !important;margin-top: 2px !important;line-height: initial !important;}
  .toc li h3 span:first-child{line-height: 2.3em !important;}
  .toc ul ul {margin-left: 10px !important;}
  .toc>ul>li {margin-bottom: initial !important;}
  .phb#p3:after{display:none;}
  

</style>


# Prolouge

Within the realm of Haosmund lies eight kingdoms of creation, representing an ideal of each god that birthed the land they walk on, each society vastly different from the other as they dedicate themselves to them in hopes of gaining favor and perhaps, even a gift. 
___
&emsp; These gods have been the guiding stone for their existence, the elixir that keeps them going forward, with most starting religions around them. Most meet their end because of this, but it is but a small droplet in the sea of dedication for them in their dedication to their gods. 
___
&emsp; Unbeknownst to the denizens of Haosmund, these gods do not normally care for these events, seen a puppets to be played with for amusement. Much to their endeavor, they are still chained down by celestial shackles in place that hold power over the most powerful of them: The Tapestry of Beginnings.


<div style='margin-top:25px;'></div>

### Tapestry of Beginnings 
Carved into the stars that reside over Haosmunds nights lies tapestry which has existed since the beginning and within it, sigils inscribed on its divine fabric that binds the gods to the natural order known as the Laws of All that dictate their plane of existence, as well as those who inhabit it.

### Laws of All
No one is sure who or what created the tapestry or the laws that cover it, not even the gods themselves have a clue to its origins. An elf once claimed that he had seen into the the infinite all seeing eye of planes and saw the gods of gods, in which he was quickly arrested and taken to the Necrotic Gates, where he was fed to a hungry barghest.

___
***Balance invites chaos*** 
___
***Destruction of one is possible, but of great consquence***
___
***Reality will birth a canvas***
___
***Becoming one begins the end, but invites all to be born once more***

\pagebreak
 
## Naegalor, The Primordial Arcane
 
<img src='https://www.gmbinder.com/images/J4PttqD.png' width="320" class='image-location-top-right-bottom-left'>
 
<div style='margin-top:-70px;'></div>

<div class='story'> </div>An elf born a prodigy and scholar, Naegalor holds seemingly infinite knowledge he obtained from the Orb of Eyes, a divine artifact made from stars that sparked off his older brother Bendir's anvil as he forged the realm of Haosmund. In a strike to his ego, most of his kin doubt this as he still cannot answer the origins of the tapestry or Guillamons purpose. He prides himself on the creation of magic and his philosophical nature, while looking at violence and stagnation with disgust.

&emsp; He Frequently ponders ways to enhance the abilities of himself and his people and refers to the tapestry to study in his free time. Naegalor is the most involved with the denizens of his lands among his kin and takes great joy in answering any questions they may have.

<div style='margin-top:15px;'></div>

 Nal’pol, Kingdom of Nae’galor
A peaceful land that borders the ocean that has been corrupted from the cursed waters of the Sea of Forgotten. Nal’pol is one of the least welcoming of the eight kingdoms, frequently erecting magical barriers and placing runes to ward off any intruders. The only way to gain passage, is to obtain a unique pendant that temporarily allows passage. 
___
&emsp; Most of the citizens in Nal’pol are versed as Scholars, Alchemists, Wizards, Sorcerers, Enchanters, and even the occasional Spellsword. Unfortunately their morals are not as praised as their research, slavery is used for menial tasks such as construction, gathering alchemical ingredients, and being used as test subjects. These slaves are commonly acquired from the Bugbears that live in the Razorspine Mountains. This has put a great strain on the two kingdoms, causing tension that people have feared will lead into another war. 

<div class='pageNumber'>2</div>

&emsp; Nal’pol is ruled by their King and renowned wizard, Baldan Ovos, a natural born prodigy that has claimed he 

received his gift by being born of the blood of Naegalor. Most doubt this, but his abilities cannot be rivaled, thus allowing him to be revered in many aspects of his work and leadership.

<div style='margin-top:30px;'></div>

> ##### Alignments
> **Lawful Neutral, Neutral Evil Lawful Evil**

<div style='margin-top:30px;'></div>

\pagebreak

## Gurnock, Wrath of Haosmund

<img src='https://www.gmbinder.com/images/f0UaC6l.png' width="380" style='position:relative;right:43px'>

<div style='margin-top:25px;'></div>

During the creation of Haosmund, Gurnock was paranoid and fearful after in nature. He was a laughing stock amongst his kin. Gameros, the Trickster took advantage of this, offering Gurnock the opportunity to rid his fear and paranoia in exchange for resolve, strength, and courage to face anyone who opposed him.
___
&emsp; Hesitant but desperate, Gurnock agreed to his offer, but Garmeros had tricked his brother, bestowing an insatiable bloodlust that can no longer be quenched no matter how much blood he spilled. In a fit of rage, Gurnock dedicated the rest of eternity to destroying the stability of Haosmund. 

___
&emsp; Even though the tapestry forbid violence among each other, Gurnock carved a warpath to Garmeros and slammed his axe with all of his fury towards his brother. Garmeros quickly used his cloak making Gurnock miss and causing him to strike Haosmund which created the fissured that lies within the ash fields now known as Krinkan.

<div style='margin-top:25px;'></div>

### Krinkan, Warfield of Gurnock
Krinkan is covered in a thick layer of ash caused by the many volcanoes that call it home and located to the east of Nal’pol. Due to the lack of resources, villages and towns do not exist, but are instead in constant battles for territory by two dominant bugbear clans.

___
&emsp; One of the two warring clans is the Razorhide. Bugbears that work towards controlling neighboring territory through any means necessary. They commonly use the Razorspine Mountains to ambush any travelers choosing to use their lands as short passage towards Nal'pol. They are bruta but honest, however this never stopped them from introducing your insides to your outsides. They are led by their war chief Ralk Ashgut, a bugbear of terrifying proportions. 

___
&emsp; The Warpath is the most savage and terrifying of the two clans. Consistent of Orcs, they rarely opt for diplomacy and have no empathy in battle, going as far as to slay their own kin if they believe they are holding back the  clan. They have no traditional leader, but an Alpha by the name of Diggor The Ruthless.

___
&emsp; By most, Krinkan is considered uninhabitable, but Gurnock sees this as the ultimate battleground to prove one's worth. He prides himself on his followers are a spitting image of him. Savage and filled with rage, but always ready to spill someone's guts in the name of victory and honor.

<div style='margin-top:30px;'></div>

> ##### Alignments
> **Chaotic Neutral, Chaotic Evil, Lawful Evil**

\pagebreak

## Guillamon, Enigma of Kin

<div style='margin-top:10px;'></div>

<img src='https://www.gmbinder.com/images/7MoHYdP.png' width="250" style='position:relative;left:39px'>

<div style='margin-top:10px;'></div>

Guillamon was the first of the gods to appear and none of his kin understand his purpose or what he has done for the creation of Haosmund. What cannot be doubted however is his unrivaled and seamlessly limitless power that makes even Gurnock shake at the thought of crossing him, as he once wiped out all life on Haosmund to make his point. Even as he is, he is still bound to the Tapestry of Beginnings, making him one of their brothers. 

<div style='margin-top:-15px;'></div>

&emsp; He does not interfere with most of his followers, or respond to any of their worship. This has led most of them to believe that his intention is to allow them to live their life, free to act outside the constraints of traditional worship. Most of them would tell you they follow their own path in life.
___
&emsp; Guillamon remains neutral to most events that take place in Haosmund and has a disliking for his sister Tulch, on the account that her new followers tend to cause trouble for his merchants that transport within his lands. However, this is a minor annoyance, being the only one of his kin to have had a conversation with Tulch and saying that she has intelligence that rivals Nae’galor.

<div style='margin-top:25px;'></div>

### Dunyavi, The Trade Kingdom
Dunyavi is mostly covered in forest, shrubs, and farmland. Your average fauna are found here, such as wolves, foxes, squirrels etc. It is considered the melting pot of Haosmund, where no one race truly rules it in majority and serves as the largest trade hub in Haosmund. This has spawned a large number of merchant lords that offer services in the form of mercenary work, guilds, job boards, and material gathering. Fortunately for its denizens, there has not been any war waged against Dunyavi which has marked Dunyavi as neutral sanctuary for everyone in the realm.

___
&emsp; Dunyavi is ruled by Queen Ryland Vin, who attributes herself to the birth of her kingdom's bustling trade routes. Her father Borden Vin, was one of the most renowned Merchants in all of Dunyavi, which some speculate is the reason she was put on the throne in the first place. Or so most would think, until five years ago she held a public execution of her own father after he was found fleecing his citizens by 10 silver pieces after he stepped down from the throne. 
___
&emsp;
She acts with an iron will where no one person is exempt from her strict, and sometimes, harsh Judgments.  

<div style='margin-top:30px;'></div>

> ##### Alignments
> **True Neutral, Lawful Neutral, Lawful Good**

\pagebreak

## Tulch, Mother of Madness

<img src='https://www.gmbinder.com/images/CshwANU.pngg' width="210" style='position:relative;left:39px;'>

Tulch is an enigma, even to her Kin. She has no one form that she sticks to though most would consider her a Changeling, leaving her appearance to be a mystery. Tulch incoherently while constantly changes her personality as she inquires about anything she comes across. Not that anyone could understand what she is saying.
___
&emsp; Madness, insanity, and confusion, most of her kin are puzzled about her place among them, no one more so than Naegalor who has seemingly infinite knowledge. Dorala however, hold malice and disdain for her as she says that her meddling in the natural cycles is infuriating to her and her guardians that live the forests of Haosmund. Begrudgingly, Dorala is in high tensions with Tulch as she frequently sends the Treants that reside in the Arcane Swamps venturing forth to the Otherlands in with hopes that they may find a way to heal the ailment that afflicts its lands, however with little success.

___
&emsp; A few weeks after his tale, he was found dead floating in the Sea of Forgotten with some speculating he was never cured, but free of her whispers only for a short time.

<div style='margin-top:30px;'></div>

### Otherlands, The Realm's Scar
Tulch’s domain has no true name and nestles itself off the coast of Nal'pol in the cursed waters of the Sea of Forgotten. It is a mysterty to all and scholars have done much research of its origins. They have found it sits somewhere between the 


four elemental planes and their own, stuck in a constant tug of war with each plane. which gives it the erratic and unusual weather it has. Volcanoes and ash one month, forests and rain the next day, it is a volatile land that makes them wonder how her followers live anywhere within the island.
___
&emsp; Tulch does not have followers, but wandering victims that have been subjected to her whispers that wander around the Otherlands and referring to her as the "Eternal One". This disease, much like Tulch herself, has no known cure amongst the mortals of Haosmund or her kin, being aptly named the "Mind Plague". Deemed by most as "worst then death itself", the only known survivor has described it as the mind being filled with one thousand whispers at once. Even if not by choice, these victims who ihabit the island are extremely powerful psions who react aggressively to anyone who enters. Along with the other mysteries, everyone is puzzled to why this as to what would pose them to do this.
___
&emsp; However, even as it is, the Otherlands has its purpose and is rich in rare resources that escape from the other planes. The dwarves of Dhum Gal and the scholars of Nal'pol are the only ones known to frequently visit the island, as the dwarves use them for their famously crafted weapons and armor, while the Scholars craft powerful potions and enchantments.

<div style='margin-top:30px;'></div>

> ##### Alignments
> **Any Chaotic**

<div style='margin-top:30px;'></div>

\pagebreak

## Garmeros, Tapestries Outcast

<div style='margin-top:16px;'></div>

<img src='https://www.gmbinder.com/images/UYxO64L.png' width="330" class='image-location-top-right-bottom-left'>

<div style='margin-top:-8px;'></div>

Garmeros was a tiefling that engaged in his thieving ways as long as any could remembers. He becomes bored quite easily and liked to stir up trouble for his kin from time to time. With one of these touts of boredom resulting in him ripping off a piece of the Tapestry of Beginnings, forming the sun that now shines upon Haosmund. With no surprise, this action angered his kin and he quickly wove the fabric together with a drop of his own blood, creating the Mantle of The Moon, a cloak that could hide him from any and all eyes within their plane.

___
&emsp; To his ignorance, the Mantle of The Moon came with an unforeseeable curse and could no longer remove the cloak as it started binding to his skin with a pain unimaginable to any mortal mind. As he fell from the skies he ignited into a black soul fire, eventually impacting into one of Haosmunds oceans. Due to this, the waters became a stained with the abyssal despair that he felt in his last moments and becoming now infamous Black Sea.

___
&emsp; With the mantle being bound to him he vanished from even Naegalor's Orb of Eyes and none knowing if the death of a god unfolded before their eyes, or if this was something of unknown divination acting as a arbiter for his greed,further intesifying the gods fear of the tapestry and its laws. When Gurnock heard of Garmeros's possible demise, he rampaged for 30 days and nights, feeling as if his revenge was stolen from him.

### Lindor, Outcast's Sanctuary 
A peninsula that borders the last known sighting of Garmeros and aptly named Black Sea, Lindor is home to Haosmnd's largest den of criminals. These criminals ranged from your average bandit who stalk the roads that twist through The Great Hunting Grounds, Pirates that sail the Black Sea in hopes of finding any remnants of Garmeros and his treasures that fell with him, and is home to the dwarven traitor Sigamond Cursedhand who created the hammer that spawned the evil aberrations that live within the Deadwastes.

___
&emsp; Garmeros is not worshiped, but praised as the greatest thief to ever plague graced (or plagued) Haosmund. Every year they throw a celebration in his name by marching into villages, burning, killing, and satiating their fill of horrid pleasantries.
___
&emsp; There are normal citizens that live in Lindor but are not there of their own free will, serving as a prison for those exiled from their homelands. Normal is not the life they are given while residing in Lindor as Sigamond Cursehand is seen as a great conquered of the land and not one you should make enemies with. Commonly extorting the villagers and townsfolk for gold and scrapping resources from their personal belongings to sculpt and add to his arsenal of corrupt weapons.

<div style='margin-top:30px;'></div>

> ##### Alignments
> **Chaotic Evil, Chaotic Neutral, Neutral Evil,**

\pagebreak

## Bendir, The Earth Father

<img src='https://www.gmbinder.com/images/oLuZ6X2.png' width="300" class='image-location-top-right-bottom-left'>

Being an elder of his kin only second to Guillamon, Bendir is a stout and busy dwarf as he is one of three gods that work in an endless cycle of keeping order. Bendir must never stop working, as the earth that he sculpts is ever changing and requires his full attention, usually ignoring the "petty squabbles" of his younger kin. 
___
&emsp;  Bendir holds pride that many dwarves are known, giving a little bit of the ever lasting embers to his creations. Every time he strikes his anvil he alters and sculpts Haosmund earthen skin, ranging from mountains rising from flatlands, volcanoes bursting from the waters, or in some rare tidings causing a new realm to form. He is single handedly responsible for the birth of his kinds land. 
___
&emsp; Though not everything he has created was done with intent and sometimes a product of his divine craftsmanship with the stars forming from the sparks off his anvil. His younger brother Naegalor thinks this is a bluff, believing it a unsavory attempt at inflating his ego.

<div style='margin-top:30px;'></div>

### Thumrahm, Cradle of Coldsteel
The birthplace of the first mountains and the primary source of ore the dwarves use to forge their armaments, Thumrahm is the northern land of Haosmund. Covered in thick ice and snow, it is a barren cold waste with small villages vastly spread as most consider it uninhabitable to all but the dwarves tough forge scorched skin.

___
&emsp; Most of its activity lies within the city that is burrowed in the Orefall Mountains, the grand mastercraft city of Dhum Gal. Acting as Haosmunds main export of weapons and armor to all kingdoms, adding that Dhum Gal is nigh impenetrable, most do not attack or poach the surrounding lands for resources. That however does not mean none have tried, with the clans of Krinkan being the latest failure 400 years ago when they went carving through Haosmund in order to demand weapons of the highest quality.

<div style='margin-top:19px;'></div>

> ##### Alignments
> **True Neutral, Lawful Neutral, Lawful Good**

<div style='margin-top:30px;'></div>

\pagebreak

## Dorala, Guardian of The Eternal Forest

<div style='margin-top:-15px;'></div>

<img src='https://www.gmbinder.com/images/ZV9zXm9.png' width="250" style='position:relative;left:39px'>

Guardian of the Eternal Forest and the matriarch of life, Dorala is passive and caring in her nature. She birthed life into the body given to her by Bendir and connected to every and all living things, akin to a loving mother to her children.

___
&emsp; During the formation of Haosmund she was one of the three that shouldered the tasks of making up the spinning wheel of order

> ##### Alignments
> **Neutral Good, Lawful Good, Lawful Neutral**

\pagebreak

## Corpsewhistler, Ferryman of The Damned

<div style='margin-top:-20px;'></div>

<img src='https://www.gmbinder.com/images/Bbsepz1.png' width="280" class='image-location-top-right-bottom-left'>


\pagebreak
